# Frontend (Next.js)
MPP_SECRET_KEY=
MPP_RECIPIENT=
MPP_CURRENCY=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
BACKEND_URL=http://localhost:8000

# Backend (Python agent)
TAVILY_API_KEY=
PMTX_TOKEN=
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
